apiVersion: v1
kind: Service
metadata:
  name: node-app
spec:
  selector:
    app: node-app
  ports:
    - name: http
      protocol: TCP
      port: 80
      type: LoadBalancer
      targetPort: 3000
